<h1>Students<strong>List</strong></h1>

<% @students.each do |student| %>
<%= student.name %> 
<button>
	<% if !student.admin? %>
		<%= link_to 'Upgrade', upgrade_path(student_id: student.id) %>
	<% else %>
		<%= link_to 'Downgrade', upgrade_path(student_id: student.id) %>
	<% end %>
</button>
<br>
<% end %>